@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-yellow: #CCFF00;
  --electric-blue: #0033FF;
  --deep-space: #050508;
}

body {
  background-color: var(--deep-space);
  color: white;
}

/* Custom Glow Utilities */
.glow-yellow {
  box-shadow: 0 0 15px rgba(204, 255, 0, 0.4);
}

.glow-text-blue {
  text-shadow: 0 0 10px rgba(0, 51, 255, 0.8);
}

/* Bordio-style scrollbars */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--electric-blue);
  border-radius: 10px;
}